.contentWrapper {
    min-height: calc(100vh - 284px);
}

.cocktailSection {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.suggestionsSectionWrapper {
    /* background-color: #bdd2c6bd;  */
    /* padding: 40px 0; */
    margin: 100px 0 120px;
}

.suggestionsSection {
    margin: 0 auto;
    max-width: 1050px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 25px;
    
}

.suggestionsTitle {
    max-width: 1050px;
    margin: 0 auto 30px;
    font-size: 32px;
    font-weight: 500;
}

@media (max-width: 934px) {
    .suggestionsSection div:nth-of-type(4) {
        display: none;
    }
}

@media (max-width: 709px) {
    .cocktailSection {
        margin-top: 40px;
    }

    .suggestionsSection div:nth-of-type(4) {
        display: block;
    }
}

/* @media (max-width: 472px) {
    .suggestionsSectionWrapper {
        display: flex;
        justify-content: center;
    }

    .suggestionsSection {
        display: flex;
        flex-direction: column;
    }

    .suggestionsSection a {
        max-width: 240px;
    }
} */

@media (max-width: 474px) {
    .suggestionsSection {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        gap: 15px;
    }
}