.carouselWrapper {
    position: relative;
    margin-bottom: 10px;
}

.carouselImage {
    width: 100%;
    height: calc(100vh - 72px);
    max-height: 650px;
    object-fit: cover;
}

.heroInfo {
    max-width: 450px;
    position: absolute;
    top: 20%;
    left: 3%;
    color: #2e1c2f;
}

.subtitle {
    font-size: 32px;
}

.subtitle, .title {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0;
}

.title {
    font-size: 90px;
    margin: 10px 0 20px;
}

@media (max-width: 576px) {
    .heroInfo {
        top: unset;
        bottom: 12%;
    }

    .subtitle {
        font-size: 28px;
    }
    
    .title {
        font-size: 70px;
    }
}