.bgImage {
    background-image: url('../../assets/cocktails-bg-image.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 400px;
    width: 100%;
}

.bgImage a {
    color: #fff;
}

.bgImage nav div div{
    background-color: #fff;
}

.buttonsWrapper {
    margin: -42px auto 0;
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: rgb(244, 193, 202);
    /* background-color: #D481A3; */
    padding: 20px;
    border-radius: 30px;
    max-width: 800px;
}

.searchTitle {
    min-width: 70px;
    font-size: 18px;
}

.cocktailSelect {
    min-width: 160px;
}

.cocktailsSectionWrapper {
    margin: 100px 0 160px;
}

.cocktailsSection {
    max-width: 1100px;
    margin: 0 auto 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 25px;
}

.paginationWrapper {
    display: flex;
    justify-content: center;
}


/* @media (max-width: 952px) {
    .buttonsWrapper {
        width: 94%;
    }
} */


@media (max-width: 587px) {
    .buttonsWrapper {
        flex-direction: column;
        /* align-items: stretch; */
    }

    .cocktailSelect {
        width: 100%;
    }

    .cocktailsSectionWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cocktailsSection {
        display: flex;
        flex-direction: column;
    }
}