*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #DBD4C5;
    color: #2e1c2f;
    min-width: 350px;
}

a {
    color: #2e1c2f;
}

.ant-carousel .slick-slider .slick-list {
    border-radius: 15px;
}

.ant-card .ant-card-body {
    padding: 10px 0;
    
}

.ant-card-meta .ant-card-meta-detail .ant-card-meta-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    color: #be2a77;
}

div.ant-card-cover {
    overflow: hidden;
}