*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #DBD4C5;
    color: #2e1c2f;
    min-width: 350px;
}

a {
    color: #2e1c2f;
}

.ant-carousel .slick-slider .slick-list {
    border-radius: 15px;
}