.navbar {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.logo {
    font-weight: 700;
    font-size: 26px;
    /* color: #2e1c2f; */
    text-decoration: none;
}

.logoMe {
    color: #be2a77;
}

.navbarList {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.listItem {
    list-style-type: none;
    padding: 5px;
}

.itemLink {
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.itemLink:hover {
    color: #be2a77;
}