.bannerWrapper {
    display: flex;
    justify-content: center;
}

.banner {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 100px 0;
}

.image {
    height: 400px;
}

.bannerInfo {
    position: relative;
    
}

.subtitle {
    font-size: 28px;
}

.subtitle, .title {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0;
}

.title {
    font-size: 80px;
    margin: 10px 0 20px;
}

.blurImage {
    position: absolute;
    width: 700px;
    bottom: -108px;
    right: 80px;
    filter: blur(50px);
    z-index: -1;
    display: inline-block;
}