
.cocktailCard {
    /* background-color: rgb(30, 29, 29); */
    /* color: rgb(219, 218, 218); */
    max-width: 900px;
    display: flex;
    /* gap: 50px; */
}

.cocktailImage {
    width: 380px;
    /* height: 450px; */
    /* object-fit: cover; */
}

.cocktailInfo {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: #bdd2c6bd; */
}

.cocktailNameWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.cocktailName {
    color: #be2a77;
    margin: 0;
}

.cocktailType {
    font-weight: 600;
}

.ingredientsTitle {
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 6px;
}

.ingredientsList {
    margin: 0;
    padding-left: 15px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 4px;
}

.listItem {
    list-style-type: none;
}

.cocktailInstruction {
    margin: 0;
    line-height: 130%;
}

.instructionTitle {
    /* font-size: 18px; */
    font-weight: 600;
}

/* @media (max-width: 992px) {
    .cocktailCard {
        width: 100%;
    }
} */

@media (max-width: 768px) {
    .cocktailCard {
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 20px;
    }
}