.cocktailCard {
    max-width: 900px;
    display: flex;
    align-items: flex-start;
    gap: 60px;
}

.cocktailImage {
    height: 430px;
    width: 380px;
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 8px 8px 12px 1px rgba(0,0,0,0.3);
}

.cocktailInfo {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: calc(100% - 440px);
}

.cocktailNameWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.cocktailName {
    color: #3b3636;
    font-size: 42px;
    font-weight: 500;
    margin: 0;
}

.cocktailType {
    padding: 5px 10px;
    background-color: #E8B20E;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
}

.cocktailGlassWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.glassImage {
    width: 30px;
}

.cocktailGlass {
    font-size: 18px;
}

.ingredientsTitle {
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 10px;
}

.ingredientsList {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 20px;
}

.listItem {
    list-style-type: none;
    font-size: 18px;
}

.cocktailInstruction {
    margin: 0;
    line-height: 130%;
    font-size: 18px;
}

.instructionTitle {
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 10px;
}

@media (max-width: 992px) {
    .cocktailCard {
        gap: 40px;
    }
}

@media (max-width: 768px) {
    .cocktailCard {
        align-items: center;
        flex-direction: column;
    }

    .cocktailInfo {
        padding-top: 0;
        width: 100%;
    }
}

@media (max-width: 576px) {
    .cocktailImage {
        height: 380px;
        width: 340px;
    }
    
}