.footerWrapper {
    padding-top: 60px;
    background-color: #e3b6be;
    clip-path: polygon(0% 34%, 100% 0%, 100% 100%, 0% 100%);
}

.footer {
    padding: 20px 0 10px;
    display: flex;
    flex-direction: column;
}

.footerNavigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.logo {
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
}

.logoMe {
    color: #be2a77;
}

.navbarList {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.listItem {
    list-style-type: none;
    padding: 5px;
}

.itemLink {
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.itemLink:hover {
    color: #be2a77;
}

.footerBottom {
    text-align: center;
}


@media (max-width: 576px) {
    .footerWrapper {
        padding-top: 40px;
        clip-path: polygon(0% 16%, 100% 0%, 100% 100%, 0% 100%);
    }

    .footerNavigation {
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }


    .navbarList {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

}
